.nav {
  background-color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(107, 107, 248);
}

li {
  float: right;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04aa6d;
}

.active {
  background-color: #04aa6d;
}
